@keyframes toggleFade{
	40%{
		opacity: 1;
	}
	70%{
		opacity: 0.2;
	}
}
#fullscreen{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	background-color: #1389f0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* cursor: pointer; */
}
